* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.game {
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

.game button {
  width: 100px;
  height: 60px;
  border: 2px solid violet;
  font-weight: 600;
  margin: 10px; 
}

button {
  background-color: blue;
  padding: 20px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 12px;
  color: white;
  transition: background-color 0.3s;
}

button:hover {
  background-color: darkblue;
}

.game .rockbtn {
  background-color: palevioletred;
}

.game .paperbtn {
  background-color: rgb(241, 182, 18);
}

.game button p {
  margin: 0;
}

.game button img {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.5s;
}

.game button img:hover {
  transform: scale(0.8);
}

.comparison img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: none;
}

.user-comp {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 100px;
  border-radius: 20px;
  min-height: 100vh;
}

@media only screen and (max-width: 767px) {
  .game button {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
  }

  .game button p {
    margin-left: 10px; 
  }

  .user-comp {
    flex-direction: column; 
    align-items: center; 
  }
}
