*{
  font-family: montserrat;
}
.game button{
  box-sizing: 10px;
  width: 100px;
  height: 60px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border: 10px ;
  border-color: violet;
  font-weight: 600;
}
button{
  background-color: blue;
  border: none;
  padding: 20px;
  border-radius: 10px;
  font-family: monospace;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.game .rockbtn{
  background-color: palevioletred;
}
.game .paperbtn{
  background-color: rgb(241, 182, 18);
  
}
.game button p {
  margin-top: 0;
  margin-bottom: 2px;
}
.game button img{
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.game button img:hover{
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
.comparison img{
  display: none;
}
.user-comp{
  display: flex;
  justify-content: space-around;
}
.comparison img{
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}

  
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
  padding: 100px;
  border-radius: 20px;
}